* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./GALLERY/GALLERY.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

/* Navbar Başlangıç */
.navbar {
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  width: 100px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #e74c3c;
}

/* Navbar Bitiş */
.header-content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  /* margin-top: 25px; */
}

.header-content h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Unicase', serif;
  font-family: 'Playfair Display SC', serif;
}

.header-content h3 {
  font-weight: 400;
  margin-bottom: 20px;
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Unicase', serif;
  font-family: 'Playfair Display SC', serif;
}

/* Features */
.features {
  padding: 25px 3%;
  font-size: 22px;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.text-col {
  flex-basis: 50%;
  margin-bottom: 20px;
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Unicase', serif;
  font-family: 'Playfair Display SC', serif;
}

.img-col {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.img-col img {
  display: block;
  width: 90%;
  margin: auto;
}

.features h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}

.header-content h1 {
  color: #e50012;
}

.text-col h2 {
  color: #e50012;
}

.seri {
  text-align: center;
  color: #e50012;
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Unicase', serif;
  font-family: 'Playfair Display SC', serif;
}

.paragraf {
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Unicase', serif;
  font-family: 'Playfair Display SC', serif;
}

/* Footer */
.footer {
  background: transparent;
}

.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: #111e2e;
  margin: 10px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2em;
  color: white;
  opacity: 0.9;
}

/* Hover Efekti */
.socialIcons a:hover {
  background-color: transparent;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: white;
  transition: 0.5s;
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: .7;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerBottom {
  background-color: black;
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  color: white;
}

.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

/* Footer */
@media (max-width:700px) {
  .footerNav ul {
    flex-direction: column;
  }

  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}

@media screen and (max-width:1000px) {
  .header-content {
    top: 15%;
    left: 55%;
  }
}

@media screen and (max-width:850px) {
  .header-content {
    top: 10%;
    left: 55%;
  }
}

@media screen and (max-width:650px) {
  .header-content {
    top: 0%;
    left: 55%;
  }
}

@media screen and (max-width: 1000px) {
  .nav-links {
    gap: 15px;
  }
}

/* Ekran Genişliği 750px'de Navbar Ayarı */
@media screen and (max-width: 750px) {
  .navbar {
    padding: 10px;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background: #000;
    z-index: 1;
  }

  .nav-links.active li {
    padding: 10px 0;
    text-align: center;
  }
}

/* Ekran Genişliği 850px'de Navbar Ayarı */
@media screen and (max-width: 850px) {
  .logo img {
    width: 80px;
  }
}